<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
    <link href="./app.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="site">
      <div class="site-main">
        <div class="header">
          <div class="header-main">
            <div class="toggle">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="navbar-quote">
              <a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i></a>
              <a href="#" class="d-flex align-items-center">
                <div class="profile">OG</div>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="header-section">
            <div class="container-fluid">
              <i class="fa fa-chevron-left"></i>
              Notícias e Anúncios
            </div>
          </div>
        </div>
        <div class="section-hero bg-danger text-white">
          <div class="top-pattern" style="background-image: url('./media/top-pattern.png')">
            <img src="./media/circle.png" alt="circle"/>
            <div class="sub-menu">
              <span class="title">Menu</span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubNav"
              aria-controls="navbarSubNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
          <div class="left-pattern" style="background-image: url('./media/right-pattern.png')"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/hero.png');"></div>
              </div>
              <div class="col-md-6">
                <div class="hero-content">
                  <h2 class="title">Guia de Diversidade</h2>
                  <p class="content">A Empresa promove a conscientização de seus líderes sobre a importância da inclusão e promoção da equidade para a valorização do indivíduo, bem como da diversidade para a sustentabilidade da empresa.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-pattern" style="background-image: url('./media/bottom-pattern.png')"></div>
        </div>
        <div class="section-main">
          <h1 class="text-danger mb-12">Eixos</h1>
          <div class="two-column left">
            <div class="row">
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/1.png')"></div>
              </div>
              <div class="col-md-6">
                <div class="column-content">
                  <h4 class="title text-info">Pessoas com deficiência</h4>
                  <p class="content text-white mb-5">Segundo o último censo do IBGE, o Brasil possui mais de 45 milhões de pessoas com deficiência no país. Dessas, aproximadamente 9 milhões estão aptas para o mercado de trabalho (Estimativa da Fiscalização pelo MTE).</p>
                  <a href="#" class="right-triangle text-white">Acesse o conteúdo de pessoas com deficiência</a>
                  <h4 class="title text-info">Tipos de deficiência</h4>
                  <a href="#" class="right-triangle text-white">Saiba mais sobre os tipos de deficiências</a>
                </div>
              </div>
            </div>
            <div class="background-shape shape-success shape-right"></div>
          </div>
          <div class="two-column right">
            <div class="row">
              <div class="col-md-6">
                <div class="column-content">
                  <h4 class="title text-white">Equidade de gênero</h4>
                  <p class="content text-white mb-5">Incentivar a equidade de gênero no ambiente corporativo é reconhecer a importância da representatividade das mulheres na força de trabalho e reconhecer que há disparidades entre homens e mulheres em diferentes níveis.</p>
                  <a href="#" class="right-triangle text-white triangle-info">Entenda sobre equidade de gênero</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/2.png')"></div>
              </div>
            </div>
            <div class="background-shape shape-danger shape-left">
              <img src="./media/large-light.png" />
            </div>
          </div>
          <div class="two-column left warning">
            <div class="row">
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/3.png')"></div>
              </div>
              <div class="col-md-6">
                <div class="column-content">
                  <h4 class="title text-white">Raça & Etnia</h4>
                  <p class="content text-white mb-5">A Empresa acredita que, para ter equipes mais diversas, incluir o eixo de raça & etnia é fundamental, já que estamos falando de uma população composta por mais de 50% de pretos e pardos no país. </p>
                  <a href="#" class="right-triangle text-white">Saiba mais sobre Raça & Etnia </a>
                </div>
              </div>
            </div>
            <div class="background-shape shape-warning shape-right">
              <img src="./media/large-triangle.png" />
            </div>
          </div>
          <div class="two-column right purple">
            <div class="row">
              <div class="col-md-6">
                <div class="column-content">
                  <h4 class="title text-white">Gerações</h4>
                  <p class="content text-white mb-5">É importante reforçar que a Empresa reconhece que o eixo Gerações não é composto apenas pela inclusão de millennials, mas, como a jornada da diversidade inclui diversas etapas, estamos focando neste público no primeiro momento.</p>
                  <a href="#" class="right-triangle text-white triangle-info">Entenda o eixo Gerações </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/4.png')"></div>
              </div>
            </div>
            <div class="background-shape shape-purple shape-left">
              <img src="./media/large-circle.png" />
            </div>
          </div>
          <div class="two-column left info">
            <div class="row">
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/5.png')"></div>
              </div>
              <div class="col-md-6">
                <div class="column-content">
                  <h4 class="title text-white">LGBTI+</h4>
                  <p class="content text-white mb-5">Apesar de ainda faltar muito para que a população LGBTI+ tenha seus direitos plenamente assegurados, na Empresa, respeitamos todos os nossos colaboradores, tratando-os com igualdade e não toleramos nenhuma forma de discriminação.</p>
                  <a href="#" class="right-triangle text-white">Saiba mais sobre as questões LGBT+  </a>
                </div>
              </div>
            </div>
            <div class="background-shape shape-info shape-right">
              <img src="./media/large-plus.png" />
            </div>
          </div>
          <div class="two-column right white">
            <div class="row">
              <div class="col-md-6">
                <div class="column-content">
                  <h4 class="title text-danger">Sobre diversidade</h4>
                  <p class="content text-info mb-5">Diversidade significa variedade, pluralidade, diferença. É a combinação de tudo aquilo que apresenta múltiplos aspectos e que se diferenciam entre si.</p>
                  <a href="#" class="right-triangle">Acesse o conteúdo de diversidade </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="featured-image" style="background-image: url('./media/6.png')"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="up-link">
          <a href="#" class="text-info arrow-up">
            Voltar ao topo
          </a>
        </div>
        <div class="footer">
          <div class="container-fluid">
            <div class="footer-main">
              <div class="row">
                <div class="col-md-5">
                  <div class="nav navbar">
                    <div class="nav-item">
                      <a href="#" class="right-triangle text-danger nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                      <a href="#" class="right-triangle text-danger nav-link">Sobre diversidade</a>
                    </div>
                    <div class="nav-item">
                      <a href="#" class="text-danger nav-link">Eixos</a>
                    </div>
                    <div class="nav-item">
                      <div class="nav navbar sub-nav">
                        <div class="sub-nav-item">
                          <a href="#" class="text-info right-triangle">Equidade de gênero</a>
                        </div>
                        <div class="sub-nav-item">
                          <a href="#" class="text-info right-triangle">Raça & Etnia</a>
                        </div>
                        <div class="sub-nav-item">
                          <a href="#" class="text-info right-triangle">Gerações</a>
                        </div>
                        <div class="sub-nav-item">
                          <a href="#" class="text-info right-triangle">LGBT+</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="nav navbar">
                    <div class="nav-item">
                      <a href="#" class="right-triangle text-danger nav-link">Nosso Posicionamento </a>
                    </div>
                    <div class="nav-item">
                      <a href="#" class="right-triangle text-danger nav-link">Pessoas com deficiência</a>
                    </div>
                    <div class="nav-item">
                      <a href="#" class="right-triangle text-danger nav-link">Tipos de deficiência</a>
                    </div>
                    <div class="nav-item">
                      <a href="#" class="right-triangle text-danger nav-link">Contato</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="text-info">
                Desenvolvido por XXX
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>